.footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 2rem 0;
    margin-top: 70px;
  }
  
  .footer__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .footer__logo {
    height: 2rem;
    margin-right: 0.5rem;
  }
  
  .footer__company-name {
    font-weight: bold;
  }
  
  .footer__copyright {
    font-size: 0.875rem;
    text-align: center;
  }