
.trending-carousel {
    padding-top: 60px;
}

.trending-carousel__item {
    position: relative;
    height: 100%;
    background: rgb(15, 15, 15); 
}

.trending-carousel__item-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    cursor: pointer;
}

.trending-carousel__backdrop-container {
    position: relative;
}

.trending-carousel__backdrop-container img {
    max-width: 1000px !important;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.062);
}

.trending-carousel__backdrop-container::after { /* Display inset shadow over backdrop image */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 60px 10px #000;   
    -moz-box-shadow: inset 0 0 60px 10px #000;
    box-shadow: inset 0 0 60px 10px #000;
}

.trending-carousel__backdrop {
    z-index: -1;
}

.trending-carousel__poster {
    z-index: 99;  
    position: absolute; 
    left: 15%;
    width: 180px; 
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px 0px #000;   
    -moz-box-shadow: 0 0 5px 0px #000;
    box-shadow: 0 0 5px 0px black;
}

.trending-carousel__text-container {
    position: absolute;
    right: 0;
    color: white;
    width: 50%;
    text-shadow: 1px 1px 4px black;
}

.trending-carousel__text-container h3 {
    text-align: center;
    font-size: 40px;
}

.trending-carousel__text-container p {
    font-size: 18px;
    backdrop-filter: blur(1px);
}

@media screen and (max-width: 600px) {
    .trending-carousel__poster {
        top: 50px;
        left: 50%;
        margin-left: -90px;
        transform: unset;
    }

    .trending-carousel__text-container {
        z-index: 99;
        bottom: 50px;
        width: 100%;
        height: 180px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        overflow: hidden;
    }

    .trending-carousel__text-container h3 {
        bottom: 50px;
        font-size: 30px;
    }

    .trending-carousel__text-container p {
        /* Display "..." when the text goes outside of the parent div */
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media screen and (max-width: 400px) {
    .trending-carousel__text-container h3 {
        font-size: 25px;
    }
}
